<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>安静的小白菜</title>
  <style>
    body {
      padding: 0;
      margin: 0;
    }
    main {
      height: calc(100vh - 50px);
      line-height: calc(100vh - 50px);
      color: #fff;
      text-align: center;
      font-size: 90px;
      background: linear-gradient(to left, #ff0000, #000089)
    }
    footer {
      height: 50px;
      text-align: center;
    }
    footer a {
      text-decoration: none;
      font-size: 45px;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <main>
    安静的小白菜, 2020继续加油
  </main>
  <footer><a href="http://beian.miit.gov.cn">皖ICP备16021913号-1</a></footer>
</body>
</html>