{% extends 'root.html' %}
{% block body %}
<header>
  <nav class="navbar navbar-light container">
    <span class="navbar-brand logo-block" href="#">
      <img class="logo-img" src="/public/imgs/zzes.svg" alt="" srcset="">
      <span class="logo-text">治电科技</span>
    </span>
  </nav>
</header>
<main>
  <section class="banner">
    <div class="container">
      <div class="banner-text">
        <h1 class="title">治电十年, 百废待兴</h1>
        <h3 class="info">
          求真, 务实, 诚信, 合作, 为目标而奋斗!
        </h3>
      </div>
      <div class="action-wrap">
        <a href="mailto:zvd@zzes1314.cn" class="btn btn-info">联系我们</a>
      </div>
      <section class="card-section">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-xs-12">
              <div class="card">
                <div class="logo">
                  <div class="img-wrap">
                    <div class="img img1"></div>
                  </div>
                </div>
                <div class="card-content">
                  <h4>治中电科</h4>
                  <p>总组织, 总方向, 对分组织进行拆分管理, 达到共同进步</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div class="card">
                <div class="logo">
                  <div class="img-wrap">
                    <div class="img img2"></div>
                  </div>
                </div>
                <div class="card-content">
                  <h4>治电科技</h4>
                  <p>治中电科转型升级产物, 为目标而奋斗</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div class="card">
                <div class="logo">
                  <div class="img-wrap">
                    <div class="img img3"></div>
                  </div>
                </div>
                <div class="card-content">
                  <h4>治电普钢</h4>
                  <p>治中电科涉足铜陵钢材产物, 稳中求生</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div class="card">
                <div class="logo">
                  <div class="img-wrap">
                    <div class="img img4"></div>
                  </div>
                </div>
                <div class="card-content">
                  <h4>BoogoHi</h4>
                  <p>治电科技技术分支, 创新型团队</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</main>
<footer class="bottom-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="legal-warp">
          <p>© 2019 ZZES Inc. All rights reserved</p>
        </div>
      </div>
      <div class="col-md-4">
        <a class="github-button" href="https://github.com/klren0312/ironInfoWeapp" data-icon="octicon-star" data-show-count="true" aria-label="Star klren0312/ironInfoWeapp on GitHub">钢材信息</a>
        <a class="github-button" href="https://github.com/klren0312/stm32_wifi" data-icon="octicon-star" data-show-count="true" aria-label="Star klren0312/stm32_wifi on GitHub">物联网</a>
      </div>
    </div>
  </div>
</footer>
{% endblock %}