<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>关于我们</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/normalize.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body class="about-page">
  <!--[if lte IE 9]>
    <p class="browserupgrade">您正在使用 <strong>过时的</strong> 浏览器. 请<a href="https://browsehappy.com/">升级您的浏览器</a>来提升您的体验和安全.</p>
  <![endif]-->
  <header>
    <!-- 导航栏 -->
    <nav class="navbar navbar-default" id="topnav">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <span class="logo"></span>
            <span class="logo-text">天鹰CDN</span>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="./index.html">首页
                <span class="line"></span>
              </a>
            </li>
            <!-- 云高防CDN产品 -->
            <li class="solution-nav">
              <a href="./cdn.html">
                <span class="nav-text">云高防CDN产品</span>
                <i class="triangle-down"></i>
              </a>
              <ul class="cdn-dropdown">
                <div class="dropdown-left">
                  <div class="dropdown-item">
                    <div class="item-title">
                      <i class="nav-cdn-icon"></i>
                      <span class="nav-title">云高防CDN</span>
                    </div>
                    <ul class="item-list">
                      <li><a href="./cdn.html?type=cdn">免费CDN</a></li>
                      <li><a href="./cdn.html?type=cdn">100G云防CDN</a></li>
                      <li><a href="./cdn.html?type=cdn">300G云防CDN</a></li>
                      <li><a href="./cdn.html?type=cdn">不死防CDN</a></li>
                      <li><a href="./cdn.html?type=cdn">云加速CDN</a></li>
                    </ul>
                  </div>
                  <div class="dropdown-item">
                    <div class="item-title">
                      <i class="nav-ip-icon"></i>
                      <span class="nav-title">高防IP</span>
                    </div>
                    <ul class="item-list">
                      <li><a href="./cdn.html?type=ip">100G高防IP</a></li>
                      <li><a href="./cdn.html?type=ip">200G高防IP</a></li>
                      <li><a href="./cdn.html?type=ip">300G高防IP</a></li>
                      <li><a href="./cdn.html?type=ip">500G高防IP</a></li>
                      <li><a href="./cdn.html?type=ip">2T高防IP</a></li>
                    </ul>
                  </div>
                </div>
                <div class="dropdown-right">
                  <div class="item-title">云高防CDN</div>
                  <div class="item-content">云高防CDN针对企业的业务特点提供不同场景下下云部署的最佳实践与贴身技术支持，满足企业云计算时代的IT资源运营需求。</div>
                </div>
              </ul>
            </li>
            <!-- 高防服务器 -->
            <li class="solution-nav">
              <a href="./server.html">
                <span class="nav-text">高防服务器</span>
                <i class="triangle-down"></i>
              </a>
              <ul class="cdn-dropdown  server-dropdown">
                <div class="dropdown-left">
                  <div class="dropdown-item">
                    <div class="item-title">
                      <i class="nav-server-icon"></i>
                      <span class="nav-title">国内服务器</span>
                    </div>
                    <ul class="item-list">
                      <li><a href="./server.html">佛山BGP服务器</a></li>
                      <li><a href="./server.html">佛山BGP服务器</a></li>
                      <li><a href="./server.html">佛山BGP服务器</a></li>
                      <li><a href="./server.html">佛山BGP服务器</a></li>
                      <li><a href="./server.html">佛山BGP服务器</a></li>
                    </ul>
                  </div>
                  <div class="dropdown-item">
                    <div class="item-title">
                      <i class="nav-server-icon"></i>
                      <span class="nav-title">国外服务器</span>
                    </div>
                    <ul class="item-list">
                      <li><a href="./server.html">佛山BGP服务器</a></li>
                      <li><a href="./server.html">佛山BGP服务器</a></li>
                      <li><a href="./server.html">佛山BGP服务器</a></li>
                      <li><a href="./server.html">佛山BGP服务器</a></li>
                      <li><a href="./server.html">佛山BGP服务器</a></li>
                    </ul>
                  </div>
                </div>
                <div class="dropdown-right dropdown-server-right">
                  <div class="item-title">天鹰CDN的服务器</div>
                  <div class="item-content">专注网络安全的高性能安全性服务器，针对当今网络攻击形式越来越严峻提供高防场景下上云部署的最佳时间与贴身技术支持，满足企业云计算时代的安全需求。</div>
                </div>
              </ul>
            </li>
            <li class="solution-nav">
              <a href="javascript:;">
                <span class="nav-text">解决方案</span>
                <i class="triangle-down"></i>
              </a>
              <ul class="solution-dropdown">
                <li>
                  <a class="select-solution" href="./solution-ebusiness.html">
                    <div class="solution-title">
                      <i class="solution-icon shop-icon"></i>
                      <span class="solution-text">电商解决方案</span>
                    </div>
                    <p class="solution-info">
                      为银行、保险、证券、互联网金融等客户提供端到端的云解决方案
                    </p>
                  </a>
                </li>
                <li>
                  <a class="select-solution" href="./solution-finance.html">
                    <div class="solution-title">
                      <i class="solution-icon finance-icon"></i>
                      <span class="solution-text">金融解决方案</span>
                    </div>
                    <p class="solution-info">
                      为银行、保险、证券、互联网金融等客户提供端到端的云解决方案
                    </p>
                  </a>
                </li>
                <li>
                  <a class="select-solution" href="./solution-gov.html">
                    <div class="solution-title">
                      <i class="solution-icon gov-icon"></i>
                      <span class="solution-text">政府解决方案</span>
                    </div>
                    <p class="solution-info">
                      提供与公共云完全物理隔离的专属高规格物理集群、高等级安全防护
                    </p>
                  </a>
                </li>
                <li>
                  <a class="select-solution" href="./solution-chess.html">
                    <div class="solution-title">
                      <i class="solution-icon chess-icon"></i>
                      <span class="solution-text">棋牌游戏解决方案</span>
                    </div>
                    <p class="solution-info">
                      为您打造专业、快速、稳定、安全的游戏开发、部署、运营支撑平台
                    </p>
                  </a>
                </li>
                <li>
                  <a class="select-solution" href="./solution-game.html">
                    <div class="solution-title">
                      <i class="solution-icon game-icon"></i>
                      <span class="solution-text">网页网游解决方案</span>
                    </div>
                    <p class="solution-info">
                      企业网站以网络营销为目的，在互联网上进行网络建设和形象宣传
                    </p>
                  </a>
                </li>
              </ul>
            </li>
            <!-- 帮助中心 -->
            <li class="solution-nav">
              <a href="./help.html">
                <span class="nav-text">帮助中心</span>
                <!-- <i class="triangle-down"></i> -->
              </a>
              <!-- <ul class="cdn-dropdown help-dropdown">
                <div class="dropdown-left">
                  <div class="dropdown-item">
                    <div class="item-title">
                      <i class="nav-help-icon"></i>
                      <span class="nav-title">帮助中心</span>  
                    </div>
                    <ul class="item-list">
                      <li><a href="./help.html">产品帮助</a></li>
                      <li><a href="./help.html">操作手册</a></li>
                      <li><a href="./help.html">常见问题</a></li>
                    </ul>
                  </div>
                </div>
                <div class="dropdown-right">
                  <div class="item-content">本站网络拥有海内外最好的CC防护路线，拥有国际电信机房，网通机房，移动机房，BGP多线网络。 能为各类型客户提供全面的CDN加速服务与CC防护全套的网站解决方案！</div>
                </div>
              </ul> -->
            </li>
            <!-- 关于我们 -->
            <li class="nav-active solution-nav">
              <a href="./about.html">
                <span class="nav-text">关于我们</span>
                <!-- <i class="triangle-down"></i> -->
              </a>
              <!-- <ul class="cdn-dropdown help-dropdown about-dropdown">
                <div class="dropdown-left">
                  <div class="dropdown-item">
                    <div class="item-title">
                      <i class="nav-about-icon"></i>
                      <span class="nav-title">关于我们</span>  
                    </div>
                    <ul class="item-list">
                      <li><a href="./about.html">公司介绍</a></li>
                      <li><a href="./about.html">联系方式</a></li>
                      <li><a href="./about.html">意见反馈</a></li>
                    </ul>
                  </div>
                </div>
                <div class="dropdown-right">
                  <div class="item-content">天鹰CDN聚焦于互联网智慧未来，持续加大安全产品领域的研发，秉承中立的服务商理念，以客户需求为出发点，助力企业安全上云以及数字化转型，快速无缝接入云计算世界。 </div>
                </div>
              </ul> -->
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="login-btn" onclick="location.href='./login.html'">登录</div>
            </li>
            <li class="dropdown">
              <div class="register-btn" onclick="location.href='./register.html'">免费注册</div>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- 轮播图 -->
    <div id="carousel-container" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="banner-img" src="./img/banner-about.png" alt="banner">
          <div class="banner-text solution-banner-text help-banner-text container">
            <div class="solution-banner-info">
              <h1>关于我们</h1>
              <h3>针对各行业业务特征，打造个性化行业解决方案</h3>
              <h3>为用户提供合适的产品与贴心的服务。</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- 关于我们 -->
  <section class="section-help section-about">
    <div class="help-tab">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-3">
            <div onclick="location.href='./about.html?type=info'" class="help-tab-item">公司介绍</div>
          </div>
          <div class="col-md-3 col-xs-3">
            <div onclick="location.href='./about.html?type=contact'" class="help-tab-item">联系方式</div>
          </div>
          <div class="col-md-3 col-xs-3">
            <div onclick="location.href='./about.html?type=feedback'" class="help-tab-item">意见反馈</div>
          </div>
          <div class="col-md-3 col-xs-3">
            <div onclick="location.href='./about.html?type=news'" class="help-tab-item active">新闻公告</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 新闻公告 -->
    <div class="help-list container" id="js-about-news">
      <div class="help-link">
        <span class="link">新闻公告</span>&nbsp;&nbsp;>&nbsp;&nbsp;<span class="link">标题标题标题</span>
      </div>
      <div class="article-container">
        <div class="article-title">标题标题标题</div>
        <div class="article-details">
          文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
        </div>
        <div class="article-back">
          <div class="go-back-btn" onclick="history.go(-1)">点击返回</a>
        </div>
      </div>
    </div>
  </section>
  <!-- 立即加入, 开启安全之旅 -->
  <section class="section-security">
    <div class="container">
      <div class="section-header">
        <div class="section-title">立即加入, 开启安全之旅</div>
      </div>
      <div class="section-button-group">
        <a href="javascript:;" class="button-item">立即注册</a>
        <a href="./about.html?type=contact" class="button-item">联系我们</a>
      </div>
    </div>
  </section>

  <!-- 底部第一行 -->
  <section class="section-footer-1">
    <div class="container">
      <div class="infos">
        <div class="info-item col-md-3 col-xs-3">
          <div class="info-icon aftersales-icon"></div>
          <div class="info-text">7*24小时专业售后服务</div>
        </div>
        <div class="info-item col-md-3 col-xs-3">
          <div class="info-icon yun-icon"></div>
          <div class="info-text">新一代云加速&云安全</div>
        </div>
        <div class="info-item col-md-3 col-xs-3">
          <div class="info-icon setting-icon"></div>
          <div class="info-text">为您提供专业解决方案</div>
        </div>
        <div class="info-item col-md-3 col-xs-3">
          <div class="info-icon protect-icon"></div>
          <div class="info-text">安全洞见 全网感知</div>
        </div>
      </div>
    </div>
  </section>
  <!-- 底部第二行 -->
  <section class="section-footer-2">
      <div class="container">
        <div class="footer-info">
          <div class="left-content">
            <div class="logo">
              <div class="logo-item">
                <div class="logo-icon"></div>
                <div class="logo-text">天鹰CDN</div>
              </div>
              <div class="contact">
                <div class="contact-title">联系我们</div>
                <div class="contact-number">
                  400-8888-888
                </div>
              </div>
            </div>
            <div class="qrcode">
              <img src="./img/qrcode.png" alt="二维码">
            </div>
          </div>
          <div class="right-content">
            <div class="line-list">
              <div class="line-title">产品服务</div>
              <a href="./cdn.html?type=cdn" class="line-item">云防CDN</a>
              <a href="./cdn.html?type=ip" class="line-item">高防IP</a>
              <a href="./server.html" class="line-item">高防服务器</a>
            </div>
            <div class="line-list">
              <div class="line-title">帮助中心</div>
              <a href="./help.html?type=product" class="line-item">产品帮助</a>
              <a href="./help.html?type=control" class="line-item">操作手册</a>
              <a href="./help.html?type=question" class="line-item">常见问题</a>
            </div>
            <div class="line-list">
              <div class="line-title">关于我们</div>
              <a href="./about.html?type=info" class="line-item">公司介绍</a>
              <a href="./about.html?type=contact" class="line-item">联系方式</a>
              <a href="./about.html?type=feedback" class="line-item">意见反馈</a>
              <a href="./about.html?type=news" class="line-item">新闻公告</a>
              <a href="./about.html?type=news&news=information" class="line-item">业内资讯</a>
            </div>
            <div class="line-list">
              <div class="line-title">解决方案</div>
              <a href="./solution-gov.html" class="line-item">政府行业安全解决方案</a>
              <a href="./solution-ebusiness.html" class="line-item">电商行业安全解决方案</a>
              <a href="./solution-finance.html" class="line-item">金融行业安全解决方案</a>
              <a href="./solution-chess.html" class="line-item">棋牌游戏安全解决方案</a>
              <a href="./solution-game.html" class="line-item">网页游戏安全解决方案</a>
            </div>
          </div>
        </div>
      </div>
  </section>

  <!-- 底部 -->
  <footer>
    <div class="friend-link">
      <span class="friend-title">友情链接:</span>
      <a href="javascript:;" class="link">测吧网</a>
      <a href="javascript:;" class="link">大海洋</a>
      <a href="javascript:;" class="link">广瓜网</a>
      <a href="javascript:;" class="link">火车采集器</a>
      <a href="javascript:;" class="link">火车浏览器</a>
      <a href="javascript:;" class="link">企多维</a>
    </div>
    <div class="company">
      广东天鹰安全技术有限公司, Inc. All rights reserved. 粤ICP备16030239号-1 粤公网安备44010602001646号
    </div>
  </footer>
  <script src="js/modernizr-3.6.0.min.js"></script>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script>

    /**
     * 自动滚动到文章
     */
    $(function() {
      $("body,html").animate({ 
        scrollTop: $('#carousel-container').height()
      },1000); 
    })

    /**
     * 滚动导航栏变色
     */
    function onScroll() {
      var scrollH = $('#carousel-container').height()
      var windowH = $(window).scrollTop()
      if (windowH > 68) {
        $('.navbar-default').addClass('active')
      } else {
        $('.navbar-default').removeClass('active')
      }
    }
    window.addEventListener('scroll', onScroll, false);



  </script>
</body>

</html>
