<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="keywords" content="治电科技, 治中电科, 治电物联网, 物联网, 互联网">
  <meta name="description" content="治电科技只为追求高端科技,治电科技始于治中电科">
  <meta name="author" content="治电天神">
  <title>治电科技|求真 务实 坚韧 无畏</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/public/imgs/zzes.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="/public/css/common.css">

  <!-- GrowingIO Analytics code version 2.1 -->
  <!-- Copyright 2015-2018 GrowingIO, Inc. More info available at http://www.growingio.com -->

  <script type='text/javascript'>
    ! function (e, t, n, g, i) {
      e[i] = e[i] || function () {
        (e[i].q = e[i].q || []).push(arguments)
      }, n = t.createElement("script"), tag = t.getElementsByTagName("script")[0], n.async = 1, n.src = ('https:' ==
        document.location.protocol ? 'https://' : 'http://') + g, tag.parentNode.insertBefore(n, tag)
    }(window, document, "script", "assets.growingio.com/2.1/gio.js", "gio");
    gio('init', '830520c0ccf1f28c', {});

    //custom page code begin here

    //custom page code end here

    gio('send');
  </script>

  <!-- End GrowingIO Analytics code version: 2.1 -->

</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">您正在使用 <strong>过时的</strong> 浏览器. 请<a href="https://browsehappy.com/">升级您的浏览器</a>来提升您的体验和安全.</p>
  <![endif]-->
  <nav>
    <div class="wrapper clearfix">
      <img class="logo" src="/public/imgs/logo.png" alt="logo">
      <ul class="left-nav fr">
        <li class="nav-item fl">
          <a class="nav-link {% if current === 'index' %} active {% endif %}" href="/">首页</a>
        </li>
        <li class="nav-item fl">
          <a class="nav-link {% if current === 'irons' %} active {% endif %}" href="/irons">钢材</a>
        </li>
        <li class="nav-item fl">
          <a class="nav-link {% if current === 'cars' %} active {% endif %}" href="/cars">汽车</a>
        </li>
        <!-- <li class="nav-item fl">
          <a class="nav-link {% if current === 'm3u8' %} active {% endif %}" href="/m3u8">m3u8</a></li> -->
      </ul>
    </div>
  </nav>
  {% block body %}
  {% endblock %}
  <script src="https://buttons.github.io/buttons.js"></script>
  <script>
    console.log(
      '%cZZES\n%c治电科技需要您的帮助\n%c简历投放: zvd@zzes1314.cn',
      'font-size:2.5em;color:#000131;',
      'font-size:1.5em;color:#4558c9;',
      'font-size:1.5em;color:rgb(0,56,108)'
    )
  </script>
</body>

</html>